.contents_box {
  display: flex;
  padding: 0px 20px;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  max-width: 865px;
}

.left_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.right_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.discussion_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
}

.load_more {
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.popular_discussion {
  display: flex;
  padding: 0px 2px;
  align-items: flex-start;
  gap: 10px;
}

p {
  color: var(--Color-text-lighten, rgba(255, 255, 255, 0.85));

  /* typo/sub header&CTA */
  font-family: Pixellari;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 30px */
}

/* Comment 및 CommentInput에 대한 스타일은 별도의 CSS 파일에서 관리할 수 있습니다 */