.toggleContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;
  }
  
  .toggleInput {
    display: none;
  }
  
  .slider {
    width: 44px;
    height: 22px;
    position: relative;
    background-color: var(--Color-on-surface-disabled, rgba(255, 255, 255, 0.38));
    border-radius: 16px;
    transition: 0.4s;
    display: inline-flex;
    padding: 2px 2px 2px 24px;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
  }
  
  .slider::before {
    content: "";
    position: absolute;
    margin: 1px 2px;
    width: 18px;
    height: 18px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
    filter: drop-shadow(0px 2px 4px rgba(0, 35, 11, 0.20));
  }
  
  .toggleInput:checked + .slider {
    background: var(--Color-primary-300, #00C4B4);
  }
  
  .toggleInput:checked + .slider::before {
    transform: translateX(20px);
  }

  .toggleLabel {
    color: white;
  }
  