.solutionTableList {
    display: grid;
    width: 1160px;
    grid-template-columns: 1fr 1fr 2fr 2fr 2fr 2fr 2fr;
}

.solutionTableList:hover {
    background-color: var(--Color-background-02, rgba(255, 255, 255, 0.07));
} 

.solutionTableItem {
    display: flex;
    align-items: center;
    height: 72px;
    padding: 0 20px;
    cursor: pointer;
}

.userInfo {
    gap: 16px;
}