.background {
    position: relative;
    background-color: var(--Color-background-00, #121212);
    min-height: 100vh;
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 358px);
    background-position: top center;
    background-size: 100vw auto;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: 0;
}

.content {
    position: relative;
    z-index: 1;
}

.main {
    max-width: 500px;
    margin: 100px auto 220px;
    display: flex;
    justify-content: flex-start;
    min-height: calc(100vh - 457px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 50px;
    width: 100%;
}

.inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.inputWrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 100%;
}

.input {
    display: flex;
    max-width: 100%;
    width: 100%;
    height: 33px;
    padding: 6px 12px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    color: var(--Color-text-lighten);
    background: var(--Color-background-08, rgba(255, 255, 255, 0.12));
    border: 0;
    box-sizing: border-box;
}

.input::placeholder {
    color: var(--Color-text-default, rgba(255, 255, 255, 0.65));
    /* text/body 2 */
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
}

.textarea {
    height: 100px;
    padding: 14px 12px;
}

.button {
    display: flex;
    width: 160px;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
}