.pageLayout {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  /* height: 100vh; */

  background: var(--Color-background-00, #121212);
}

.backgroundImage {
  background-image: url('../../../../assets/images/background1-2.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  flex: 1;
}

.contents_box {
  display: flex;
  padding: 60px 360px;
  flex-direction: column;
  align-items: center;
}

.contents {
  display: flex;
  width: 1200px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.project_detail_cards {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.project_detail_card {
  width: 374px;
  height: 194px;
  border-radius: 10px;
  background: var(--Color-background-08, rgba(255, 255, 255, 0.12));

  position: relative;
}

.card_upperLeftBox {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  position: absolute;
  top: 16px;
  left: 20px;
}

.card_icon {
  position: absolute;
  bottom: 22px;
  left: 21px;
}

.reward {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.money {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon_money_small {
  display: flex;
  width: 27px;
  height: 18px;
}

.exp {
  display: flex;
  padding-left: 4px;
  align-items: center;
  gap: 11px;
}

.icon_cup_small {
  display: flex;
  width: 20px;
  height: 20px;
}

.card_numberBox {
  display: inline-flex;
  align-items: flex-end;
  gap: 8px;

  position: absolute;
  bottom: 16px;
  right: 20px;
}

.card_numberBox_text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card_numberBox_unit {
  display: flex;
  padding: 6px 0px;
  align-items: flex-end;
  gap: 10px;
}

.text_field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.textBox {
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
