.background {
    background: url(../../../../assets/images/background/background2.webp) lightgray 50% / cover no-repeat;
    background-color: var(--Color-background-00, #121212);
    background-size: 100vw auto;
    background-position: left top;
}

.projectHeader {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: flex-start;
    background: var(--Color-background-08, rgba(255, 255, 255, 0.12));
}

.projectHeaderInfo {
    max-width: 1200px;
    width: 90%;
    display: flex;
    padding: 40px 20px 0px 20px;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    align-self: center;
}

.contentsBox {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

.leftBox {
    width: 100%;
    display: flex;
    padding: 10px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.leftBoxHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.navList {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    color: var(--Color-text-default, rgba(255, 255, 255, 0.65));
}

.prevPage {
    color: var(--Color-text-default, rgba(255, 255, 255, 0.65));
    transition: color ease-out 300ms;
    text-decoration: none;
}

.prevPage:hover{
    color: var(--Color-text-lighten, rgba(255, 255, 255, 0.85));
}

.currentPage {
    color: var(--Color-text-lighten, rgba(255, 255, 255, 0.85));
}

.title{
    color: white;
}

.projectInfo{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.projectInfoItem{
    color: white;
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.rightBox {
    display: flex;
    max-width: 384px;
    width: 100%;
    padding: 0px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    border-left: 1px solid var(--Color-text-default, rgba(255, 255, 255, 0.65));
}

.rightBoxItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.difficulty {
    display: flex;
    padding: 3px 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.projectLabel {
    color: white;
}

.skillList {
    display: flex;
    height: 24px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 8px;
    align-self: stretch;
    flex-wrap: wrap;
}

.skill {
    display: flex;
    padding: 3px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.rewards {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.tabBackground {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 60px 20px 280px;
}

.tabSection {
    max-width: 1200px;
    width: 90%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    align-self: center;
}

.text {
    color: var(--Color-text-lighten, rgba(255, 255, 255, 0.85));
}